@model List<WebInformacionDocenteJT.Models.Docente>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Lista de docentes - Universidad Mariano Galvez de Guatemala</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="@Url.Action("Register", "Docente")" >Crear Nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Salario</th>
                                <th>Fecha Nacimiento</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (WebInformacionDocenteJT.Models.Docente item in Model)
                            {
                                <tr>
                                    <td>@item.Nombres</td>
                                    <td>@item.Apellidos</td>
                                    <td>@item.Telefono</td>
                                    <td>@item.Correo</td>
                                    <td>@Math.Round(item.Salario, 2)</td>
                                    <td>@item.FechaNacimiento.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Editar", "Docente", new { idDocente = item.IdDocente })">Editar</a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar", "Docente", new { idDocente = item.IdDocente })">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
